{% load kyks_tags %}
{% block kyktitle %}
  {% if style >= Styles.SHOW %}
     {% with title=kyk.title %}
       {% if title %}<h4>{{ title }}</h4>{% endif %}
     {% endwith %}
  {% endif %}
{% endblock kyktitle %}
{% if style >= Styles.SHOW %}
  <div class="cell small-12">
  {% block kykshow %}
    {% kykin kyk.kyk_edit %}
    {% if not kyk.kyk_EDITING %}
      {% kykin kyk.kyk_delete %}
      {{ kyk }}
    {% endif %}
  {% endblock kykshow %}
  </div>
{% elif style == Styles.ITEM %}
  {% block kykitem %}
    <div class="button-group">
      {% kykin kyk.kyk_edit %}
      {% if not kyk.kyk_EDITING %}
        {% kykin kyk.kyk_delete %}
        <a href="{{ kyk.get_absolute_url }}">{{ kyk }}</a>
      {% endif %}
    </div>
  {% endblock kykitem %}
{% elif style == Styles.CELL %}
  {% block kykcell %}
    <td>{% kykin kyk.kyk_delete %}</td>
    {% if kyk.kyk_EDITING %}
      <td></td>
      <td>{% kykin kyk.kyk_edit %}</td>
    {% else %}
      <td>{% kykin kyk.kyk_edit %}</td>
      <td><a href="{{ kyk.get_absolute_url }}">{{ kyk }}</a><td>
    {% endif %}
  {% endblock kykcell %}
{% elif style == Styles.BUTTON %}
  <a class="button" href="{{ kyk.get_absolute_url }}">{{ logo }}{{ kyk }}</a>
{% elif style >= Styles.LINK %}
  <a href="{{ kyk.get_absolute_url }}">{{ kyk }}</a>
{% else %}
  {% block kyktext %}
    {{ kyk }}
  {% endblock kyktext %}
{% endif %}
