{% load i18n %}
{% load kyks_tags %}

<ul>  
  {% for kyk in kyk_list  %}
    <li>{% if style > Styles.SHOW %}
      {% kykin kyk style=Styles.QUOTE  %}
    {% else  %}
      {% kykin kyk style=Styles.LINK  %}
    {% endif  %}</li>
  {% endfor  %}
</ul>
<div>
  <ul>
    {% if previous_index >= 0  %}
      <li><a class="button" href="./?index={{ previous_index }}&step={{ step }}">{% trans "Previous" %}</a></li>
    {% endif %}
    {% if next_index %}
      <li><a class="button" href="./?index={{ next_index }}&step={{ step }}">{% trans "Next" %}</a></li>
    {% endif %}
  </ul>
</div>