{% load i18n %}
{% load kyks_tags %}

<ul>  
  {% for kyk in kyk_list  %}
    <li>
      {% if style >= Styles.PAGE %}
        {% kykin kyk style=Styles.QUOTE  %}
      {% elif style >= Styles.SHOW %}
        {% kykin kyk style=Styles.ITEM  %}
      {% else  %}
        {% kykin kyk style=Styles.LINK  %}
      {% endif  %}
    </li>
  {% endfor %}
</ul>
  <div class="button-group">
    {% if previous_index >= 0  %}
      <a class="button" href="./?index={{ previous_index }}&step={{ step }}">{% trans "Previous" %}</a>
    {% endif %}
    {% if style >= Styles.QUOTE %}
      {% kykin kyk_add %}
    {% endif %}
    {% if next_index %}
      <a class="button" href="./?index={{ next_index }}&step={{ step }}">{% trans "Next" %}</a>
    {% endif %}
  </div>
